body {
	background-color: 2ad3b9;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	text-align: left;
	border-radius: 10px;
	border-color: 2ad3b9;
	font-size: 18px;
	color: white;
}


.navbar.navbar-expand-lg.navbar-dark.bg-transparent .container #navbarSupportedContent {
	color: black;
}

.card-body {
	color: black
}

h2.text-center {
	background-color: 2ad3b9;
	color: black;
}

h6 {
	color: black
}