@charset "utf 8";
body{
	background-color: rgba(88,177,156,1.00);
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	text-align: left;
	border-radius: 10px;
	border-color: rgba(49,112,122,1.00);
	font-size: 18px;
	color: rgba(255,255,255,1.00);
}.strong {
}
.nav .ul {
}
.navbar.navbar-expand-lg.navbar-dark.bg-transparent .container #navbarSupportedContent {
	color: rgba(249,249,249,1.00);
}


